div.bb_mw_manager {
	clear: both;
	margin: 5px;
	padding: 5px;
	border: 1px solid #E5E5E5;
	background-color: #F5F5F5;
	color: #555555;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div.bb_mw_manager div.bb_mw_manager_type {
	float: right;
	font-size: 11px;
}

div.bb_mw_manager div.bb_mw_manager_links {
	margin: 4px 10px 0px 10px;
	font-size: 0.9em;
}

div.bb_mw_manager div.bb_mw_manager_links a {
	display: block;
	color: #035488;
	text-decoration: none;
}

div.bb_mw_manager div.bb_mw_manager_links a:hover {
	color: #444444;
	text-decoration: underline;
}
